
  .form-container{
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 15vh;
  }
  .mat-form-field {
    width: 100%;
  }
  .book-list-container{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  
  input.mat-input-element {
    width: 100%;
  }
  
  .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}