form {
    display: flex;
    justify-content: center;
    align-items: center;
     height: 15vh;
     padding-left: 450px;
  }
  .mat-form-field {
    width: 1000px; /* Adjust the width as needed */
  }
  .book-list-container{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  
  input.mat-input-element {
    width: 100%;
  }
  
  .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}