<body>
  <div style="width: 50% ; float:right" class="content">
  <div class="book-container">
  <img class="book-poster" [src]="book.poster" [alt]="book.name" />
  <div class="book-spec">
    <h1>{{ book.name }}</h1>
    <p>{{ book.author }}</p>
  </div>


  <button (click)="toggleDescription()" mat-icon-button aria-label="description">
    <mat-icon>keyboard_control_key</mat-icon>
  </button>
  <p *ngIf="show" class="movie-summary">{{ book.description }}</p>


 
 
  <div class="action-items">  <button (click)="delbook(book.id)" mat-icon-button aria-label="Delete Icon">
    <mat-icon>delete</mat-icon>
  </button>
  <button (click)="goToEdit(book.id)" mat-icon-button aria-label="Edit Icon">
    <mat-icon>edit_note</mat-icon>
  </button></div>
</div>
</div>
<div style="width: 45%; float:left">
<img class="left" src="https://img.freepik.com/free-vector/hand-drawn-flat-design-stack-books-illustration_23-2149341898.jpg?w=2000" alt="background image">
</div>
</body>


