.book-container {
  border-radius: 16px;
  overflow: hidden;
  padding: 16px;
  border-radius: 20px;
  overflow: hidden;
  color: aliceblue;
  padding-left: 30px;
  background-color: black;
  width: 500px;
  border-radius: 16px;
  overflow: hidden;
  padding: 16px;
  justify-content: center;


}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  background-color:rgb(198, 172, 232);
  margin: 0;
      padding: 20px;
      width:100%;

}
.book-poster {
  height: 400px;
  object-fit: fill;
  width: 100%;
}
.book-spec {
  align-items: center;
  font-size: 23px;
  font-weight: bold;
}

.book-spec > h1 {
  font-size: 23px;
  font-weight: bold;
}
.book-spec > p {
  font-size: 17px;
  font-style: 17s;
  font-weight: bold;
  font-style: italic;
}

.book-summary {
  margin-top: 0px;
  color: #7c6e6e;
  justify-content: center;
  margin-bottom: 25px;
}
body{
  background-color:rgb(198, 172, 232);

      width:100%;
      padding-top: 30px;
      height: 100%;
}
